.card{
    display: flex;
   padding: 0.5rem;
    align-items: center;
}

.card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 345px;
background: #E0E4EC;
border-radius: 12px;
  }
  
  .card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card__image img {
    max-width: 100%;
    height: auto;
  }
  
  .card__body h1 {
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 150%;
text-align: center;
letter-spacing: -0.011em;
color: #000000;
    margin-bottom: 10px;
  }
  
  .card__body p {
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 150%;
text-align: center;
letter-spacing: -0.011em;
color: #000000;
  }
  