.testimonials{
    background-color: #ffffff;
    padding-bottom: 4rem;
}
.testimonials__header{
    display: flex;
    justify-content: center;
}
.testimonials__header h1{
    color: #837D7D;
    font-size: 2.1875rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.02406rem;
    margin-bottom: 1rem;
}
.testimonials__head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.testimonials__head h1{
    color: #08299B;
font-size: 3.125rem;
font-weight: 500;
line-height: 150%;
letter-spacing: -0.03438rem;
}

.testimonialcard{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}